&share
 wrf_core = 'ARW',
 max_dom = 1,
 start_date = '2024-01-01_00:00:00',
 end_date   = '2024-01-01_18:00:00',
 interval_seconds = 21600,
 io_form_geogrid = 2,
/

&geogrid
 parent_id         = 1,
 parent_grid_ratio = 1,
 i_parent_start    = 1,
 j_parent_start    = 1,
 e_we              = 100,
 e_sn              = 100,
 geog_data_res     = 'default',
 dx = 12000,
 dy = 12000,
 map_proj = 'lambert',
 ref_lat   = 50.0,
 ref_lon   = 10.0,
 truelat1  = 45.0,
 truelat2  = 55.0,
 stand_lon = 10.0,
 geog_data_path = '/path/to/WPS_GEOG'
/

&ungrib
 out_format = 'WPS',
 prefix = 'FILE',
/

&metgrid
 fg_name = 'FILE',
 io_form_metgrid = 2,
/
